body {
  background: antiquewhite;
  margin: 0 auto;
  max-width: 800px;
}
body #app {
  padding: 2rem;
}
body #app div {
  margin: 1rem auto;
  width: 100%;
}
body p {
  color: chocolate;
  font-size: 2rem;
}
body ol {
  margin: 1rem auto;
}
.red {
  background: red;
}
.blue {
  background: blue;
}
